.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    z-index: 1000;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-links li {
    margin: 20px 0;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}
.sidebar a:hover {
    text-decoration: underline;
    color: #00ff99;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .main-content h1 {
        font-size: 2em;
    }
    .main-content h2 {
        font-size: 1.2em;
    }
    .feature-title {
        font-size: 1em;
    }
    .feature-description {
        font-size: 0.8em;
    }
}